.iconafter {
	&:after {
		content: '\f054';
		font-family: fontAwesome;
		margin: 0 0 0 5px;
		position: relative;
		padding: 0;
		font-size: 10px;
	}
}

.img-fluid {
	margin-left: 15px;
}

.navbar-fixed {
	background-color: white!important;
}

.c-layout__triangle {
	position: absolute;
	width: 100%;
	height: 40vmax;
	max-height: 40rem;
	fill: darken($grey, 0.1%)!important;
	fill: var(--color-neutral-10);
	transform-origin: left top;
}

//////////////////////////////////////
// STYLE SHEET PARCEL INTERNATIONAL //
/////////////////////////////////////

// FONT STYLING 

ul.dropdown-menu li{
	border: 0px; 
	width: 100%;
	display: flex;
	flex-direction: column;
	a {
		border: 0px; 
		width: 100%;
	}
}

.dropdown-item:hover {
	background-color: darken($grey, 0.1%);
}

.reveal .fa {
  font-family: 'FontAwesome';
  font-style: normal;
}

.embed-container iframe {
	border-radius: 5px;
	box-shadow: 0 0 8px 4px rgba(0,0,0,0.15);
}

.white {
	color: $white!important;
}

// #lan-gm {
// 	display: flex;
// 	align-items: center;
// 	&:before {
// 		content: url('http://localhost/releases/wp-content/uploads/2018/10/flag-de@2x.png');
// 		position: relative;
// 		width: 50%;
// 	}
// }

// #lan-cn {
// 	&:before {
// 		content: '';
// 		position: relative;
// 		width: 24px;
// 	}
// }

.entry-content {
	height: 100%;
	width: 100%;
}

#pi-svg {
	height: auto;
	position: absolute;
	top: 0;
	z-index: 0;
}

a {
	cursor: pointer!important;
}

.dark {
	color: $dark;
} 

.arconix-faq-title {
	font-family: 'Exo', sans-serif;
}

.heading-h1 {
	font-family: 'Exo', sans-serif;
	font-size: 30px;
	line-height: 40px;
	font-weight: 500;
	color: #1d95c5;
}

h1 {
	text-transform: uppercase;
	color: $dark;
	font-family: 'Exo', sans-serif;
	font-size: 30px;
	line-height: 40px;
	font-weight: 300;
}

strong {
	color: $primary!important;
	font-weight: 600;
}

h2 {
	text-transform: uppercase;
	color: $dark;
	font-family: 'Exo', sans-serif;
	font-size: 26px;
	line-height: 30px;
	font-weight: 300;
}

h3 {
	text-transform: uppercase;
	color: $dark;
	font-family: 'Exo', sans-serif;
	font-size: 22px;
	line-height: 28px;
	font-weight: 300;
}

h3.stories {
	color: $primary!important;
	text-transform: uppercase;
	font-family: 'Exo', sans-serif;
	font-size: 22px;
	line-height: 28px;
	font-weight: 300;
}

h3.widget-title {
	text-transform: uppercase;
	font-family: 'Exo', sans-serif;
	font-size: 22px;
	line-height: 28px;
	font-weight: 300;
}

h4 {
	text-transform: uppercase;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	line-height: 22px;
	font-weight: 600;
}

.light {
	font-family: 'Exo', sans-serif;
	font-weight: 300;
	font-size: 20px;
}

.full {
	width: 100%;
}

a.button {
	cursor: pointer;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

p {
	font-size: 18px;
	line-height: 28px;
	font-family: 'Roboto', sans-serif;
	color: $dark;
	font-weight: 300;
}

// BUTTON STYLING

.btn-02 {
	text-decoration: none;
	padding: 12px 34px;
	background-color: $orange; 
	border-radius: 100px;
	color: white;
	&:hover {
		color: white;
		text-decoration: none;
		background-color: darken( $orange, 10% );
	}
}

.pi-read-more-link {
	position: absolute;
	right: 25px;
	bottom: 25px;
	z-index: 2;
}

.register {
	cursor: pointer;
}

.btn-sislogin {
	transition: linear all 0.2s;
	cursor: pointer;
	color: white;
	padding: 15px;
	border-radius: 5px;
	background-color: $primary;
	border: 1px solid rgba(0,0,0,0.15);
	border-bottom: 2px solid $dark;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	height: 70px!important;
	font-size: 22px;
	line-height: 32px;
	&:hover {
		border-bottom: 2px solid rgba(0,0,0,0.15);
		background-color: $dark;
	}					
}


// SOCIAL STYLING

a.social {
	margin: 0 5px 0 0;
	cursor: pointer;
	margin-bottom: 5px;
	font-family: 'Exo', sans-serif;
	font-weight: 300;
	display: inline-block;
	background-color: $primary;
	border-radius: 100px;
	color: $white;
	padding: 5px 15px;
	&:hover {
		text-decoration: none;
		color: $white;
		background-color: darken($primary, 10%);
	}
}

.facebook {
	position: relative;
	&:before {
		margin-right: 10px;
		color: $white;
		font-family: fontAwesome;
		content: '\f082';
		position: relative;
	}
}
.linkedin {
	position: relative;
	&:before {
		position: relative;
		margin-right: 10px;
		color: $white;
		font-family: fontAwesome;
		content: '\f0e1';
	}
}

// MOBILE MENU

#mobile-menu {
	display: none;
}

#mobile-menu.collapsing {
	transition: all linear 0.2s;
}

#mobile-menu.collapse.show {
	overflow: scroll;
	transition: all linear 0.2s;
	display: block;
	background-color: $white;
	position: fixed;
	left: 0;
	right:0;
	bottom: 0;
	width: 100%;
	height: 100vh;
	z-index: 8;
	top: 0;
	padding-top: 70px;
	ul#main-menu {
		transition: all linear 0.2s;
		background-color: white;
		padding: 50px 0;
		li {
			a {
				padding: 15px 20px;
				font-family: 'Exo', sans-serif;
				font-weight: 500;
				color: $dark;
				background-color: $white;
				&:hover {
					background-color: darken($grey, 0.1%);
					color: $dark;
				}
				&:active {
					background-color: darken($grey, 0.1%);
					color: $white;
				}
				&:active {
					background-color: darken($grey, 0.1%);
					color: $white;

				}
				
			}
		}
	}
}

#mobile-menu {
	.navbar-nav .dropdown-menu {
		padding: 0;
		margin: 0;
		border-radius: 0!important;
		border-color: transparent!important;
		li {
			a {
				font-family: 'Roboto', sans-serif!important;
				font-weight: 300!important;
				border-radius: none;
				border: none;
				background-color: darken($grey, 0.1%)!important;
				&:hover {
					background-color: darken($grey, 10%)!important;
				}
			}
		}
	}
}

.flow {
	overflow: hidden;
}

#mobile-menu {
	ul.dropdown-menu.show{
		position: relative!important;
		transform: unset!important;
		li {
			padding: 0;
		}
	}
}

// SECTION MENU

span.orange {
	color: $orange!important;
}

p a {
	&:hover {
		text-decoration: underline;
	}
}

// // top menu
// body {
//   padding-top: 40px; // same as header height
// }

header.one {
	top: 0;
 	z-index: 9;
 	height: 40px;
 	position: fixed;
 	transition: all linear 0.3s;
 	width: 100%;
}
// we'll add this class using javascript
header.one.nav-up {
  top: -40px; // same as header height. use variables in LESS/SASS
  &:before {
  	width: 100%;
  	left: 0;
  	right: 0;
  	background-color: white;
  	height: 55px;
  	position: absolute;
  	top: 0; 
  	z-index: 9999;
  	transition: all linear 0.3s;
  	content: '';
  }
}

#wrapper-navbar {
	// background-color: white;
	width: 100%;
	position: relative;
	z-index: 9;
	left: 0;
	right: 0;
	.topnav__container {
		padding: 0;
		.topnav__row {
			margin: 0;
			width: 100%;
			.topmenu {
				height: 40px;
				width: 100%;
				padding: 0 5px;
				ul.menu {
					margin: 5px 0;
					z-index: 9999;
					position: relative;
					height: 100%;
					padding: 0;
					width: 100%;
					display: flex;
					align-items: center;
					justify-content: flex-end;
					li {
						list-style: none;
						a {
							padding: 8px 20px!important;
							text-decoration: none;
							font-family: 'Exo', sans-serif;
							font-weight: 300;
							padding: 12px;
							height: 100%;
							font-size: 12px;
							line-height: 15px;
							display: flex;
							align-items: center;
						}
						ul.sub-menu {
							li {
								display: block;
							}
						}
					}
					li.register {
						a {
							font-family: 'Roboto', sans-serif;
							font-size: 13px;
							border: 1px solid $orange;
							background-color: $orange;
							border-radius: 100px;
							margin: 5px;
							color: $white;
							// &:before {
							// 	margin-right: 10px;
							// 	content: '\f044';
							// 	font-family: fontAwesome;
							// 	color: $white;
							// 	position: relative;
							// }
							&:hover {
								color:  $white;
								border: 1px solid $orange!important;
								background-color: darken($orange, 10%)!important;
								// &:before {
								// 	margin-right: 10px;
								// 	content: '\f044';
								// 	font-family: fontAwesome;
								// 	color: $white;
								// 	position: relative;
								// }
							}
						}
					}
					li.login {
						a {
							font-family: 'Roboto', sans-serif;
							font-size: 13px;
							border: 1px solid $primary;
							background-color: transparent;
							border-radius: 100px;
							margin: 5px;
							color: $primary;
							// &:before {
							// 	margin-right: 10px;
							// 	content: '\f007';
							// 	font-family: fontAwesome;
							// 	color: $primary;
							// 	position: relative;
							// }
							&:hover {
								color:  $white;
								border: 1px solid $primary!important;
								background-color: $primary!important;
								// &:before {
								// 	margin-right: 10px;
								// 	content: '\f007';
								// 	font-family: fontAwesome;
								// 	color: $white;
								// 	position: relative;
								// }
							}
						}
					}
					li.tracktrace {
						a {
							font-family: 'Roboto', sans-serif;
							position: relative;
							color: $primary;
							&:hover {
								text-decoration: underline;
							}
						}
					}
				}
			}
		}
	}
}
.navbar.navbar-expand-xl {
	background-color: transparent;
	padding: 0;
	margin: 0;
	height: 70px;
	display: flex;
	flex-direction:column;
	justify-content: center;
	ul#main-menu {
		border: 0px;
		height: 70px;
		display: flex;
		align-items: center;
		li {
			border: 0px;
			display: flex;
			align-items: center;
			height: 60px;
			a {
				border: 0px;
				text-transform: uppercase;
				font-family: 'Exo', sans-serif;
				font-weight: 300;
				font-size: 16px;
				line-height: 27px;
				padding: 0 25px;
			}
		}
	}
}

#wrapper-navbar .navbar.navbar-expand-xl ul.dropdown-menu {
	margin: 4px 0 0 0;
	border: 0px;
	border-radius: 5px!important;
	padding: 0;
	border-radius: 0px;
	transition: transform .15s ease-out;
	box-shadow: 0 2px 30px rgba(0,0,0,.2);
	&:before {
		content: '';
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-bottom: 10px solid rgba(255,255,255,1);
		position: relative;
		margin-left: 42%;
		bottom: 31px;
	}
	li {
		border-bottom: 1px solid rgba(0,0,0,0.1);
		height: unset!important;
		padding: 0;
		border: 0px;
		a {
			font-family: 'Roboto', sans-serif;
			font-size: 15px;
			line-height: 16px;
			font-weight: 300;
			padding: 14px 16px!important;
			border: 0px; 
			font-size: 14px;
			display: flex;
			align-items: center;
			justify-content: space-between;
			color: $primary;
			&:hover {
				background-color: darken($grey, 2%);
			}
		}
	}
	li:first-child {
		margin-top: -24px;
	}
	li:last-child {
		border-bottom: none;
	}
}

// SECTION HERO HOMEPAGE

section.hero__homepage {
	margin-top: 120px;
	.hero__outer {
		position: relative;
		overflow: hidden;
		border-radius: 0px;
		background-color: $black;
		position: relative;	
		.hero-image {		
			img.hero__homepage-img {
				opacity: 0.2;
				height: 100%;
				width: 100%;
				z-index: 2;
				position: absolute;
				object-fit:cover;
				background-position: center center;
			}
		}
		.hero__homepage-inner {
			justify-content: center;
			height: 100%;
			position: relative;
			width: 100%;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 2;
			padding: 40px 0;
			display: flex;
			justify-content: center;
			flex-direction: column;
			.hero__content {
				padding: 0 15px;
				position: relative;
				display: inline-block;
			}
			.hero__cta {
				padding: 0 15px;
				display: flex;
				flex-direction: column;
				position: relative;
				display: inline-block;
				.hero__box-content {
					cursor: pointer;
					display: flex;
					justify-content: center;
					align-items: center;
					flex-direction: column;
					background-color: $orange;
					color: $white;
					padding: 15px 30px;
					z-index: 9;
					border-radius: 100px;
					width: 100%;
					&:hover {
							background-color: darken($orange, 10%);
						}
					h4 {
						font-family: 'Exo', sans-serif;
						font-weight: 300;
						margin: 0;
						padding: auto;
						font-size: 20px;
					}
				}
				.hero__cta-top {
					display: inline-block;
				}
				.hero__cta-bottom {
					ul.usp {
						position: relative;
						margin: 0;
						padding: 0;
						li {
							display: inline-block;
							list-style: none;
							a {
								border-radius: 3px;
								border-bottom: 1px solid rgba(0,0,0,0.25);
								text-decoration: none;
								font-family: 'Exo', sans-serif;
								text-transform: uppercase;
								display: block;
								margin-top: 10px;
								width: 100%;
								font-size: 12px!important;
								padding: 5px 10px;
								background-color: $primary;
								color: $white;
								&:hover {
									background-color: darken($primary, 10%);
								}
							}
						}
						li:first-child {
							a {
								padding-left: 25px;
								display: flex;
								align-items: center;
								position: relative;
								&:before {
									padding: 0 10px;
									content: '\f183';
									font-family: fontAwesome;
									left: 0;
									position: absolute;
									display: block;
								}
							}
						}
						li:nth-child(2){
							a {
								padding-left: 30px;
								display: flex;
								align-items: center;
								position: relative;
								&:before {
									padding: 0 10px;
									content: '\f153';
									font-family: fontAwesome;
									left: 0;
									position: absolute;
									display: block;
								}
							}
						}
						li:last-child {
							a {
								padding-left: 30px;
								display: flex;
								align-items: center;
								position: relative;
								&:before {
									padding: 0 10px;
									content: '\f108';
									font-family: fontAwesome;
									left: 0;
									position: absolute;
									display: block;
								}
							}
						}
					}
					.hero {
						color: $white!important;
						a.button {
							color: $white!important;
							&:hover {
								text-decoration: underline;
							}
						}
					}
					.btn-outer {
						margin: 5px 0;
					}
				}
			}
		}
		&:after{
			opacity: 1;
			content: '';
			background: rgb(16,66,94);
			background: -moz-linear-gradient(-45deg, rgba(16,66,94,1) 0%, rgba(29,149,197,1) 100%);
			background: -webkit-linear-gradient(-45deg, rgba(16,66,94,1) 0%,rgba(29,149,197,1) 100%);
			background: linear-gradient(135deg, rgba(16,66,94,1) 0%,rgba(29,149,197,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#10425e', endColorstr='#1d95c5',GradientType=1 );
			position: absolute;
			left: 0;
			z-index: 1;
			right: 0;
			bottom: 0;
			top: 0;
		}
	}
}

section.homepage-flex {
	padding: 60px 0;
}

// SECTION SPLIT

section.home__prop {
	padding: 50px 0;
}

section.home__split {
	background-color: darken($grey, 0.1%);
	padding: 50px 0;
	.prop-section {
		display: flex;
		padding: 25px 0;
		position: relative;
		.home__split-img {
			width: 60px;
			display: block;
			img {
				width: 100px;
			}
		}
		.home__split-content {
			padding: 0 25px 0 0;
			a {
				color: $orange;
			}
		}
	}
	.home__video {
		padding: 25px 0;
		position: relative;
		border-radius: 5px;
		overflow: hidden;
		height: 100%;
		iframe {
			border-radius: 5px;
			overflow: hidden;
			width: 100%;
			position: relative;
			height: 266px;
		}
	}
}

// SECTION ARCHIVE

.wrapper#archive-wrapper {
	background-color: darken($grey, 0.1%);
}

.wrapper#index-wrapper {
	background-color: darken($grey, 0.1%);
}

section.archiveintro {
	padding: 150px 0 100px;
	position: relative;
	background-color: white;
	.archiveintro-content {
		text-align: center;
	}
}

section.introsection {
	position: relative;
	background-color: white;
	min-height: 500px;
}

section.hero__usp{
	display: none;
	overflow: hidden;
	.hero__usp-content {
		display: flex;
		align-items: center;
		justify-content: space-between;
		ul {
			margin: 0;
			padding: 0;
			display: flex;
			align-items: center;
			li {
				font-family: 'Exo', sans-serif;
				color: $primary;
				font-size: 16px;
				line-height: 27px;
				display: flex;
				align-items: center;
				font-weight: 300;
				padding: 25px 15px;
				list-style: none;
				img.small {
					width: auto;
					height: 18px;
					margin-right: 10px;
				}
				img.big {
					width: auto;
					height: 28px;
					margin-right: 10px;
				}
			}
		}
	}
}

.navbar-brand.custom-logo-link {
	width: 100px;
	/* padding: 15px 0 15px 0; */
	margin-top: -50px;
	z-index: 10;
	position: relative;
}

.change {
	display: flex;
	flex-direction: column-reverse;
}

.center {
	text-align: center;
}

// SECTION PAGE WRAPPER

.wrapper#page-wrapper {
	position: relative;
	padding: 100px 0 0;
	overflow: hidden;
	ul {
		font-family: 'Roboto', sans-serif;
		font-weight: 300;
		line-height: 27px;
		font-size: 18px;
		margin: 0;
		padding: 0;
		li {
			font-size: 16px;
			line-height: 27px;
			font-family: 'Roboto', sans-serif;
			color: #10425e;
			font-weight: 300;
			position: relative;
			list-style: none;
			padding: 8px 0px;
			margin: 0;
			border-bottom: 1px solid rgba(0,0,0,0.1);
			// &:before {
			// 	width: 5px;
			// 	height: 100%;
			// 	position: absolute;
			// 	background-color: #1d95c5;
			// 	content: '';
			// 	margin-right: 15px;
			// 	top: 0;
			// 	left: 0;
			// }
		}
		li:last-child {
			border-bottom: none;
		}
	}
}

section.introduction__campaign {
	padding-top: 100px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #1d95c5;
	background: -moz-linear-gradient(top,#1d95c5 0,#10425e 94%);
	background: -webkit-linear-gradient(top,#1d95c5 0,#10425e 94%);
	background: linear-gradient(to bottom right,#1d95c5 0,#10425e 94%);
	h1 {
		margin-top: 100px;
		color: white;
	}
	p {
		color: white;
	}
	.bg_svg_2 {
		opacity: 0.15;
	}
}

// pi font styling

section.introduction__offerte{
	padding-top: 100px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #1d95c5;
	background: -moz-linear-gradient(top,#1d95c5 0,#10425e 94%);
	background: -webkit-linear-gradient(top,#1d95c5 0,#10425e 94%);
	background: linear-gradient(to bottom right,#1d95c5 0,#10425e 94%);
	h1 {
		margin-top: 100px;
		color: white;
	}
	p {
		color: white;
	}
	.bg_svg_2 {
		opacity: 0.15;
	}
}

.effectup {
	opacity: 0;
}

.effectin {
	opacity: 0;
}

section.choose {
	margin-top: 700px;
	display: flex;
	position: relative;
	background-color: darken($grey, 0.1%);
	.bg_svg_2 {
		overflow: hidden;
		position: absolute;
		top: 0;
	}
	.choose__card {
		border-radius: 3px;
		height :100%;
		top: -200px;
		margin-bottom: -100px;
		width: 100%;
		height: auto;
		display: flex;
		.choose {
			padding: 40px 40px 0;
			i {
				color: rgba(0,0,0,0.78);
				font-size: 28px;
				margin: 25px 0;
			}
			h2 {
				font-family: 'Exo', sans-serif;
			}
			p {
				min-height: 40px;
				margin: 25px 30px;
			}
			.outer__usp {
				background-color: white; 
				ul.usp {
					padding: 0;
					margin: 0;
					li:first-child {
						border-top: none;
					}
					li {
						text-align: left;
						font-family: 'roboto', sans-serif;
						list-style: none;
						padding: 15px 20px;
						border-top: 1px solid rgba(0,0,0,0.1);
						&:before {
							content: '\f00c';
							font-family: fontAwesome;
							color: $orange;
							left: 0;
							margin-right: 25px;
						}
					}
				}
			}
		}
		.footer__offerte {
			transition: 0.2s linear;
			margin: 25px;
			border-radius: 3px;
			display: flex;
			justify-content: center;
			align-items: center;
			color: black;
			padding: 25px 0;
			background-color: #fecb2f;
			border-bottom: 3px solid rgba(0,0,0,0.10);
			a {
				transition: 0.2s linear;
				font-size: 18px;
				font-weight: 500;
				font-family: 'Roboto', sans-serif;
			}
			&:hover {
				background-color: darken(#fecb2f, 10%);
			}
		}
	}
}

ul#menu-footer-six {
	margin: 0;
	padding: 0;
	justify-content: center;
	display: flex;
	li {
		list-style: none;
		padding: 0 8px;
	}
}

.btn__outer {
	margin: 25px 0 50px;
	position: relative;
	a.sendBtn {
		transition: 0.2s linear;
		cursor: pointer;
		text-decoration: none;
		padding: 15px 30px;
		margin: 0;
		color: white;
		background-color: $orange;
		border-radius: 100px;
		&:hover {
			color: white;
			transform: translateY(-10px);
			box-shadow: 0 18px 35px rgba(50,50,93,.1),0 8px 15px rgba(0,0,0,.07);
		}
	}
	a.sendBtnlight {
		transition: 0.2s linear;
		cursor: pointer;
		text-decoration: none;
		padding: 15px 30px;
		margin: 0;
		color: black;
		background-color: transparent;
		border: 1px solid $orange;
		border-radius: 100px;
		&:hover {
			color: white;
			background-color: #ff5722;
			transform: translateY(-10px);
			box-shadow: 0 18px 35px rgba(50,50,93,.1),0 8px 15px rgba(0,0,0,.07);
		}
	}
}

a.offertelink {
	opacity: 1!important;
	color: $orange!important;
}

.hide {
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
	position: absolute;
	height: 400px;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.hide-two {
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
	position: absolute;
	height: 400px;
	bottom: 0;
}

section.testimonial {
	display: flex;
	flex-direction: column;
	position: relative;
	padding: 25px 0 50px;
	background-color: darken($grey, 0.1%)!important;
	.testimonial__introduction {
		display: flex;
		flex-direction: column;
		justify-content: center;
		h2 {
			font-family: 'Exo', sans-serif;
			font-weight: 300;
		}
		p {
			display: block;
		}
	}
	.owl-carousel .owl-stage-outer {
		padding: 20px 0;
		overflow: hidden;
	}
	.testimonial__card {
		margin-bottom: 20px;
		width: 100%;
		.testimonial__content {
			padding: 30px 60px;
			p {
				padding-bottom: 10px;
			}
			.testimonial__logo {
				border-top: 1px solid rgba(0,0,0,0.1);
				width: 100%;
				padding: 0;
				display: flex;
				justify-content: center;
				align-items: center;
				img {
					background-size: cover;
					background-position: center center;
					object-fit: cover;
					display: flex;
					width: 200px;
					padding-top: 20px;
				}
			}
		}
		.testimonial__quote {
			height: 100%;
			background-color: $primary;
			padding: 40px;
			p {
				color: white;
			}
			.testimonial__title {
				border-top: 1px solid rgba(255,255,255,0.5);
				padding-top: 20px;
				color: white;
				font-family: 'Exo', sans-serif;
			}
			.testimonial__link {
				color: white;
				font-family: 'Roboto', sans-serif;
				font-weight: 300;
			}
		}
		.testimonial__footer {
			display: flex;
			padding: 40px;
			background-color: $primary;
			flex-direction: column;
			height: 100%;
			.testimonial__description {
			}
		}
	}
}

button#small {
	transition: 0.2s linear;
	padding: 10px 30px;
	border: 1px solid rgba(255,255,255,0.5);
	background-color: transparent;
	border-radius: 3px;
	color: rgba(255,255,255,0.5);
	&:hover {
		border: 1px solid rgba(255,255,255,1);
		color: rgba(255,255,255,1);
		box-shadow: 0 18px 35px rgba(50,50,93,.1),0 8px 15px rgba(0,0,0,.07);
		cursor: pointer;
	}
}

button#small.active {
	transition: 0.2s linear;
	background-color: $orange;
	color: white;
	border: 1px solid $orange;
}

button#large {
	transition: 0.2s linear;
	padding: 10px 30px;
	border: 1px solid rgba(255,255,255,0.5);
	background-color: transparent;
	border-radius: 3px;
	color: rgba(255,255,255,0.5);
	&:hover {
		border: 1px solid rgba(255,255,255,1);
		color: rgba(255,255,255,1);
		box-shadow: 0 18px 35px rgba(50,50,93,.1),0 8px 15px rgba(0,0,0,.07);
		cursor: pointer;
	}
}

button#large.active {
	transition: 0.2s linear;
	padding: 10px 30px;
	border: 1px solid $orange;
	background-color: $orange;
	border-radius: 3px;
	color: white;
	&:hover {
		box-shadow: 0 18px 35px rgba(50,50,93,.1),0 8px 15px rgba(0,0,0,.07);
		cursor: pointer;
	}
}

.card {
	transition: 0.2s linear;
	&:hover {
		transition: 0.2s linear;
		transform: translateY(-10px);
		box-shadow: 0 18px 35px rgba(50,50,93,.1),0 8px 15px rgba(0,0,0,.07);
		cursor: pointer;
		a.btn__cta-one:after {
			transition: 0.2s linear;
			opacity: 1;
			color: $primary;
		}
	}
}

.a-m {
	padding-left: 30px;
	padding-right: 30px;
}

.no-gutters {
  padding-right: 0;
  padding-left: 0;
}

// OWL CAROUSEL SECTION

.owl-carousel .owl-nav .owl-prev,
  .owl-carousel .owl-nav .owl-next,
  .owl-carousel .owl-dot {
    font-family: 'fontAwesome';
    z-index: 6;
}

.owl-dots{
	display: flex;
	justify-content: center;
}

.owl-carousel {
	i.fa.fa-angle-right, i.fa.fa-angle-left {
		opacity: 1;
		background-color: transparent;
		padding: 50px 25px;
		color: black
	}
}

.owl-carousel{
	i.fa.fa-angle-left {
		border-radius: 0 5px 5px 0;
	}
	i.fa.fa-angle-right {
		border-radius: 5px 0 0 5px;
	}
} 

.fa-angle-right {
	&:hover {
		color: $orange!important;
	}
}
.fa-angle-left {
	&:hover {
		color: $orange!important;
	}
}

.owl-prev, .owl-next {
    position: absolute;
    top: calc(50% - 35px);
    width: 20px;
    height: 50px;
    text-align: center;
    background-color: transparent;
}

.owl-theme .owl-nav [class*=owl-]{
	background: none;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 50px;
	width: 20px;
	border-radius: 0;
	background: transparent!important;
	background-color: transparent;
	&:hover {
		background-color: transparent;
	}
}

div.owl-next {
    right: 35px;
    display: flex!important;
	align-items: center;
	justify-content: center;
}

div.owl-prev {
    left: 35px;
    display: flex!important;
	align-items: center;
	justify-content: center;
}

section.cta__contact {
	z-index: 1;
	position: relative;
	display: block;
	background-color: darken($grey, 0.1%);
	// background: #1d95c5;
	// background: -moz-linear-gradient(top,#1d95c5 0,#10425e 94%);
	// background: -webkit-linear-gradient(top,#1d95c5 0,#10425e 94%);
	// background: linear-gradient(to bottom left,#1d95c5 0,#10425e 94%);
	padding: 25px 0;
	.whoarewe {
		display: flex;
		flex-direction: column;
		quote {
			color: black;
			margin-top: 10px;
			display: flex;
			justify-content: center;
			padding: 30px 0px;
			flex-direction: column;
			background-color: transparent;
			border-top: 1px solid rgba(0,0,0,0.1);
			border-radius: 3px;
			margin: 20px 0;
			font-size: 22px;
			line-height: 26px;
			font-family: 'Exo', sans-serif;
			font-weight: 300;
			span {
				color: rgba(0,0,0,0.78);
				font-family: 'Roboto', sans-serif;
				font-size: 18px;
				line-height: 22px;
				font-weight: 300;
				display: flex;
				align-items: center;
				margin-top: 20px;
				.left {
					display: flex;
					align-items: center;
					margin-right: 25px;
					img {
						object-fit: cover!important;
						height: 60px;
						width: 60px;
						border-radius: 110px;
					}
				}
				.right {
					span {
						margin: 0;
						padding: 0;
					}
					margin: 0;
					padding: 0;
				}
			}
		}
	}
}

section.campaign__contact {
	margin-top: 300px;
	z-index: 1;
	position: relative;
	display: block;
	background-color: darken($grey, 0.1%);
	// background: #1d95c5;
	// background: -moz-linear-gradient(top,#1d95c5 0,#10425e 94%);
	// background: -webkit-linear-gradient(top,#1d95c5 0,#10425e 94%);
	// background: linear-gradient(to bottom left,#1d95c5 0,#10425e 94%);
	padding: 100px 0;
	.whoarewe {
		display: flex;
		flex-direction: column;
		quote {
			color: black;
			margin-top: 10px;
			display: flex;
			justify-content: center;
			padding: 30px 0 0;
			flex-direction: column;
			background-color: transparent;
			border-top: 1px solid rgba(0,0,0,0.1);
			border-radius: 3px;
			margin: 10px 0 0;
			font-size: 22px;
			line-height: 26px;
			font-family: 'Exo', sans-serif;
			font-weight: 300;
			span {
				color: rgba(0,0,0,0.78);
				font-family: 'Roboto', sans-serif;
				font-size: 18px;
				line-height: 22px;
				font-weight: 300;
				display: flex;
				align-items: center;
				margin-top: 20px;
				.left {
					display: flex;
					align-items: center;
					margin-right: 25px;
					img {
						object-fit: cover!important;
						height: 60px;
						width: 60px;
						border-radius: 110px;
					}
				}
				.right {
					span {
						margin: 0;
						padding: 0;
					}
					margin: 0;
					padding: 0;
				}
			}
		}
	}
}

#offerte__form {
	background-color: white;
	padding: 30px 30px 0;
	border: 1px solid rgba(0,0,0,0.1);
	border-radius: 3px;
	h2 {
		margin-bottom: 25px;
		font-family: 'Exo', sans-serif;
		color: black;
		font-weight: 300;
	}
	label {
		font-family: 'Roboto', sans-serif;
		font-size: 18px;
		line-height: 28px;
		font-weight: 300;
		color: black;
	}
	.btn-outline-primary, .wpcf7 input[type=submit] {
		color: white;
		height: 60px;
		background-color: transparent;
		background-image: none;
		border-color: $orange;
		border-radius: 100px;
		background-color: $orange;
		transition: 0.2s linear;
		&:hover {
			cursor: pointer;
			background-color: darken($orange, 10%);
		}
	}
}


#campaign__form {
	margin-top: 30px;
	background-color: white;
	padding: 30px 30px 0;
	border: 1px solid rgba(0,0,0,0.1);
	border-radius: 3px;
	h2 {
		margin-bottom: 25px;
		font-family: 'Exo', sans-serif;
		color: black;
		font-weight: 300;
	}
	label {
		font-family: 'Roboto', sans-serif;
		font-size: 18px;
		line-height: 28px;
		font-weight: 300;
		color: black;
	}
	.btn-outline-primary, .wpcf7 input[type=submit] {
		color: white;
		height: 60px;
		border-radius: 100px;
		background-color: transparent;
		background-image: none;
		border-color: $orange;
		background-color: $orange;
		transition: 0.2s linear;
		&:hover {
			cursor: pointer;
			background-color: darken($orange, 10%);
		}
	}
}

//columnbox

section.columnbox {
	padding: 0;
	div {
		display: flex;
		justify-content: flex;
		margin-bottom: 10px;
		a.link__content {
			cursor: hand;
			width: 100%;
			position: relative;
			text-decoration: none;
			height: 100%;
			display: block;
			border-radius: 3px;
			border: 1px solid rgba(0,0,0,0.1);
			display: flex;
			flex-direction: column;
			background-color: $white;
			border-bottom: 2px solid rgba(0,0,0,0.2);
			.image-outer {
				position: relative;
				border-radius: 3px 3px 0 0;
				overflow: hidden;
				background-color: $black;
				height: 120px;
				width: 100%;
				img {
					opacity: 0.9;
					border-radius: 3px 3px 0 0;
					object-fit: cover;
					min-height: 100%;
					min-width: 100%;
				}
				&:before {
					transition: 0.2s linear;
					content: '';
					position: absolute;
					left: 0;
					top: 0;
					right: 0;
					bottom: 0;
					background-color: black;
					opacity: 0;
					z-index: 2;
				}
			}
			h4 {
				padding: 25px 15px 5px;
			}
			p {
				padding: 0 15px;
			}
			&:hover {
			transition: 0.2s linear;
				.image-outer:before {
					content: '';
					position: absolute;
					left: 0;
					top: 0;
					right: 0;
					bottom: 0;
					z-index: 2;
					background-color: black;
					opacity: 0.5;
				}
			}
		}
		div.link__content {
			cursor: hand;
			position: relative;
			text-decoration: none;
			height: 100%;
			display: block;
			border-radius: 3px;
			border: 1px solid rgba(0,0,0,0.1);
			display: flex;
			flex-direction: column;
			background-color: $white;
			border-bottom: 2px solid rgba(0,0,0,0.2);
			.image-outer {
				position: relative;
				border-radius: 3px 3px 0 0;
				overflow: hidden;
				background-color: $black;
				height: 120px;
				width: 100%;
				img {
					opacity: 0.9;
					border-radius: 3px 3px 0 0;
					object-fit: cover;
					min-height: 100%;
					min-width: 100%;
				}
				&:before {
					transition: 0.2s linear;
					content: '';
					position: absolute;
					left: 0;
					top: 0;
					right: 0;
					bottom: 0;
					background-color: black;
					opacity: 0;
					z-index: 2;
				}
			}
			.content {
				display: flex;
				flex-direction: column;
				padding: 25px 15px 0;
			}
			&:hover {
			transition: 0.2s linear;
				.image-outer:before {
					content: '';
					position: absolute;
					left: 0;
					top: 0;
					right: 0;
					bottom: 0;
					z-index: 2;
					background-color: black;
					opacity: 0.5;
				}
			}
		}
	}
}

//imagebox

section.imagebox {
	a.image__link {
		padding: 26px 0 0 0;
		cursor: pointer;
		margin-bottom: 10px;
		height: 350px;
		position: relative;
		overflow: hidden;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		z-index: 10;
		text-decoration: none;
		display: block;
		border-radius: 5px;
		display: flex;
		flex-direction: column;
		background-color: $black;
		img {
			opacity: 5;
			z-index: 3;
			object-fit: cover;
			min-height: 100%;
			min-width: 100%;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			opacity: 0.2;
		}
		span.number {
			font-family: 'Exo', sans-serif;
			font-weight: 300;
			padding: 0px 33px;
			position: absolute;
			z-index: 7;
			margin: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			color: $white;
		}
		.img-content-box {
			transition: linear all 0.2s;
			width: 100%;
			z-index: 4;
			position: absolute;
			bottom: -60px;
			padding: 15px;
			h3 {
				position: relative;
				color: $white;
			}
			p {
				position: relative;
				color: $white;
			}
		}
		&:after {
			height: 45px;
			width: 45px;
			content: '';
			background-color: $orange;
			position: absolute;
			top: 15px;
			left: 15px;
			right: 0;
			bottom: 0;
			z-index: 6;
			padding: 10px;
			border-radius: 3px;
		}
		&:before {
			transition: linear all 0.2s;
			opacity: 1;
			content: '';
			background: rgb(16,66,94);
			background: -moz-linear-gradient(-45deg, rgba(16,66,94,1) 0%, rgba(29,149,197,1) 100%);
			background: -webkit-linear-gradient(-45deg, rgba(16,66,94,1) 0%,rgba(29,149,197,1) 100%);
			background: linear-gradient(135deg, rgba(16,66,94,1) 0%,rgba(29,149,197,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#10425e', endColorstr='#1d95c5',GradientType=1 );
			position: absolute;
			left: 0;
			height: 100%;
			z-index: 1;
			right: 0;
			bottom: 0;
			top: 0;
		}
		&:hover {
			&:before {
				opacity: 0.8;
			}
			.img-content-box {
				bottom: 0;
			}
		}
	}
}

// SECTION QUESTION

section.question {
	padding: 200px 0 50px;
	display: flex;
	justify-content: center;
	height: auto;
	width: 100%;
	background-color: darken($grey, 0.1%);
		.question__body {
		.question__body-content {
			width: 100%;
			padding: 25px 35px;
			background-color: white;
			border: 1px solid rgba(0,0,0,0.15);
			border-bottom: 2px solid rgba(0,0,0,0.25);
			border-radius: 5px;
		}
	}
}

// SECTION SIS LOGIN

article.sislogin {
	padding: 150px 0 100px;
	display: flex;
	justify-content: center;
	height: auto;
	width: 100%;
	background-color: darken($grey, 0.1%);
	section.sislogin {
		.row {
			display: flex;
			justify-content: center;
			width: 100%;
			.login {
				.login__header {
					margin-bottom: 50px;
					.login__header-content {
						text-align: center;	
					}
				}
				.login__body {
					.login__body-content {
						width: 100%;
						padding: 25px 35px;
						background-color: white;
						border: 1px solid rgba(0,0,0,0.15);
						border-bottom: 2px solid rgba(0,0,0,0.25);
						border-radius: 5px;
						form {
							margin-bottom: 25px;
							display: flex;
							flex-direction: column;
							label {
								font-family: 'Roboto', sans-serif;
								font-weight: 300;
								font-size: 18px;
								margin-bottom: 8px;
							}
							input {
								border-radius: 3px;
								box-shadow: none;
								border:1px solid rgba(0,0,0,0.15);
								padding: 16px;
								margin-bottom: 8px;
								&:active {
									background-color: $input;
								}
								&:focus {
									background-color: $input;
								}
							}
							.checkbox {
								padding: 16px 16px 16px 0;
								font-family: 'Roboto', sans-serif;
								font-weight: 300;
								font-size: 16px;
								input[type=checkbox] {
									margin-right: 8px;
								}
								a {
									cursor: pointer;
									transition: linear all 0.2s;
									color: $primary;
									margin-bottom: 8px;
								}
							}				
							.btn-sislogin {
								transition: linear all 0.2s;
								cursor: pointer;
								color: white;
								padding: 15px;
								border-radius: 5px;
								background-color: $primary;
								border: 1px solid rgba(0,0,0,0.15);
								border-bottom: 2px solid $dark;
								font-family: 'Roboto', sans-serif;
								font-weight: 500;
								font-size: 22px;
								line-height: 32px;
								&:hover {
									border-bottom: 2px solid rgba(0,0,0,0.15);
									background-color: $dark;
								}
							}
						}
						a.sis-link {
							cursor: pointer;
							transition: linear all 0.2s;
							color: $primary;
							font-family: 'Roboto', sans-serif;
							font-weight: 300;
							font-size: 16px;
							margin-bottom: 8px;
							&:before {
								margin-right: 10px;
								color: $primary;
								content: '\f054';
								font-size: 12px;
								font-family: fontAwesome;
							}
							&:hover {
								color: $orange;
							}
						}
					}
				}
			}
		}
	}
}

// SECTION FOOTER

.wrapper#wrapper-footer {
	background-color: white;
	z-index: 1;
	position: relative;
}

section.footermenus {
	background-color: white;
	padding-bottom: 50px;
	display: flex;
	flex-direction: column;
	.footermenus__intro {
		padding: 35px 0 25px;
		margin-bottom: 50px;
		border-bottom: 1px solid rgba(0,0,0,0.10);
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		.footermenus__intro-title {
			margin-bottom: 20px;
		}
	}
	.footermenus__outer {
		width: 100%;
		.footermenus__outer-inner {
			display: block;
			width: 100%;
			display: block;
			position: relative;
			span {
				margin-right: 10px;
			}
			.footer-widget {
				width: 100%;
				padding: 0;
				ul {
					margin: 0;
					padding: 0;
					li {
						list-style: none;
						padding: 4px 0;
						margin: 0;
					}
				}
			}
		}
	}
}

// SECTION AFTER FOOTER

section.afterfooter {
	padding: 50px 0;
	border-top: 1px solid rgba(0,0,0,0.10);
	text-align: center;
	background-color: white;
	position: relative;
	z-index: 9;
	p {
		font-size: 14px;
		margin: 0;
		padding: 0;
	}
	.afterfooter__content-logo {
		img {
			width: 100px;
		}
	}
	#menu-footer-six {
		margin-top: 25px;
		font-size: 14px;
		font-family: 'Exo', sans-serif;
	}
}

.wrapper.dashboard {
	background-color: darken($grey, 0.1%);
	padding: 50px 0;
}

.pi-card {
	display: block;
	cursor: pointer;
	background-color: white;
	border-radius: 5px;
	border: 1px solid rgba(0,0,0,0.15);
	border-bottom: 2px solid rgba(0,0,0,0.25);
	&:hover {
		background-color: darken(white, 2%);
	}
}

.pi-card-transparent {
	text-align: center;
	padding: 15px 35px;
	display: block;
	cursor: pointer;
	background-color: rgba(29,149, 197, 0.41);
	border-radius: 5px;
	border-style: dotted rgba(29,149, 197,0.15);
	border: 2px dotted rgba(29,149, 197,1);
	border-bottom: 2px dotted rgba(29,149, 197,1);
	a {
		color: white;
	}
}

section.mijnzendingen {
	.mijnzendingen__header {

	}
	.mijnzendingen__body {
		width: 100%;
		.mijnzendingen__body-item {
			margin-bottom: 10px;
			width: 100%;
			align-items: stretch;
			position: relative;
			height: auto;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			.item-img {
				display: flex;
				justify-content: center;
				align-items: center;
				padding: 15px 25px;
				position: relative;
				height: auto;
				min-height: 100px;
				width: 100%;
			}
			.card-link {
				color: $primary;
				display: block;
				position: relative;
				bottom: 0px;
				padding: 10px;
				width: 100%;
				text-align: center;
			}
		}
	}
	.mijnzendingen__link {
		padding: 15px 0 40px;
		width: 100%;
		display: flex;
		justify-content: flex-end;
		a {

		}
	}
}

section.quicklinks {
	.quicklinks__header {

	}
	.quicklinks__body {
		width: 100%;
		.quicklinks__body-item {
			margin-bottom: 10px;
			width: 100%;
			align-items: stretch;
			position: relative;
			height: auto;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			.item-title {
				display: flex;
				justify-content: center;
				align-items: center;
				padding: 15px 25px;
				position: relative;
				height: auto;
				min-height: 100px;
				width: 100%;
			}
			.card-link {
				color: $primary;
				display: block;
				position: relative;
				bottom: 0px;
				padding: 10px;
				width: 100%;
				text-align: center;
			}
		}
	}
	.quicklinks__link {
		padding: 15px 0 40px;
		width: 100%;
		display: flex;
		justify-content: flex-end;
		a {

		}
	}
}

ul#menu-mijn-parcel-international {
	padding: 0;
	li {
		padding: 4px 0;
		list-style: none;
	}
}

ul#menu-uw-account {
	padding: 0;
	li {
		padding: 4px 0;
		list-style: none;
	}
}

ul#menu-formulieren {
	background-color: $primary;
	border-radius: 5px;
	padding: 0;
	li {
		border-bottom: 1px solid rgba(0,0,0,0.1);
		list-style: none;
		a {
			text-decoration: none;
			display: block;
			padding: 8px 16px;
			color: white;
			&:hover {
				background-color: darken( $primary, 10% );
			}
		}
	}
	li:first-child {
		border-radius: 5px 5px 0 0;
		overflow: hidden;
	}
	li:last-child {
		border-radius: 0px 0px 5px 5px;
		overflow: hidden;
	}
}
// zending overicht

section.zendingoverzicht {
	.zendingoverzicht__content {
		display: flex;
		flex-direction:row;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 10px;
		padding: 15px 40px;
		height: 100px;
		width: 100%;
	}
}

// zending details 

section.zendingdetails {
	.zendingdetails__content {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		text-align: center;
		padding: 15px 25px;
		min-height: 50vh;
	}
}

.wpcf7-form {
	.container {
		padding: 0;
		.row {
			padding: 0;
		}
	}
}

// SECTION IFRAME (DISPUUT)

iframe.dispuut {
	min-height: 850px;
	width: 100%!important;
	height: 100%;
	border: 0px;
}

// section slide enquete

section.side-widget {
	padding: 50px 0px;
	border-left: 1px solid rgba(0,0,0,0.1);
	z-index: 9999;
	width: 350px;
	height: 100%;
	position: fixed;
	right: 0;
	bottom: 0;
	top: 0;
	background-color: darken($grey, 0.1%);
	.side-widget-toggle{
		font-size: 14px;
		font-family: 'Exo', sans-serif;
		border-radius: 3px 0 0 3px;
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		z-index: 9999;
		left: -50px;
		width: 50px;
		height: 120px;
		background-color: $primary;
		color: white;
	}
	.enquete__content {
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
		.enquete__content-header {
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 50px;
		}
		.enquete__content-body {
			height: 100%;
			padding: 0 5px;
			display: flex;
			align-items: center;
			justify-content: center;
			form {
				span.wpcf7-list-item-label {
					font-size: 12px;
				}
			}
		}
	}
}

.wrapper#search-wrapper {
	padding: 150px 0;
}

span.feedback {
	display: flex;
	align-items: center;
	-webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    i {
    	margin-left: 10px;
    }
}

.wrapper#content-new {
	position: relative;
	section.content__hero {
		margin: 110px 0 0 0;
		border-radius: 0px;
		position: relative;
		height: auto;
		overflow: hidden;
		.content__hero-content {
			position: relative;
			height:auto;
			bottom: 25px;
			display: flex;
			justify-content: center;
			flex-direction: column;
			.content__hero-header {
				padding: 150px 0;
				h1 {
					color: $white;
				}
				p {
					color: $white;
				}
				.btn-outer {
					padding: 15px 0;
				}
			}	
		}
		&:before {
			content: '';
			background: rgb(16,66,94);
			background: -moz-linear-gradient(-45deg, rgba(16,66,94,1) 0%, rgba(29,149,197,1) 100%);
			background: -webkit-linear-gradient(-45deg, rgba(16,66,94,1) 0%,rgba(29,149,197,1) 100%);
			background: linear-gradient(135deg, rgba(16,66,94,1) 0%,rgba(29,149,197,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#10425e', endColorstr='#1d95c5',GradientType=1 );
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			top: 0;
		}
		img {
			top :0;
			left: 0;
			right: 0;
			bottom: 0;
			background-position: bottom;
			background-size: cover;
			opacity: 0.1;
			position: absolute;
			min-width :100%;
			min-height: 100%;
			object-fit: cover;
		}
	}
	section.content__images {
		margin-top: -125px;
		position: relative;
		height: auto;
		padding-bottom: 100px;
		.padding {
			padding: 15px;
			background-color: white;
			.content__images-content {
				display: flex;
				align-items: center;
				overflow: hidden;
				width: 100%;
				height: 250px;
				position: relative;
				background-color: black;
				img {
					min-width: 100%;
					min-height:100%;
					background-position: center center;
					background-size: cover;
					object-fit: cover;
				}
				&:before {
					position: absolute;
					backface-visibility: hidden;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					z-index: 1;
					opacity: 0;
					content: '';
					background-color: rgba(0,0,0,0.1);
					transition: linear all 0.2s;
				}
				&:hover {
					cursor: pointer;
					&:before {
						opacity: 1;
					}
				}
			}
		}	
	}
	section.content__usp {
		background-color: darken($grey, 0.1%);
		.container {
			position: relative;
			padding: 100px 0 50px;
			.content__usp-content {
				.owl-stage {
					align-items: stretch;
					display: flex;
					.owl-item {
						padding: 5px 15px;
						align-items: stretch;
						display: flex;
						.item {
							margin-bottom: 25px;
							width: 100%;
							cursor: grab;
							display: flex;
							align-items: stretch;
							flex-direction: column;
							justify-content: center;
							background-color: white;
							border: 1px solid rgba(0,0,0,0.1);
							border-bottom: 2px solid rgba(0,0,0,0.25);
							font-family: 'Exo', sans-serif;
							color: rgba(0,0,0,0.71);
							display: flex;
							align-items: center;
							position: relative;
							padding: 35px 50px;
							list-style: none;
							text-align: center;
							.check {
								display: flex;
								justify-content: center;
								align-items: center;
								margin-bottom: 25px;
								background-color: #01A870;
								height: 35px;
								width: 35px;
								border-radius: 100px;
								position: relative;
								i {
									color: white;
								}
							}
						}
					}
				}
			}
		}
	}
	section.content__page {
		position: relative;
		padding-bottom: 0 0 100px;
		.content__page-content {
			width: 80%;
			margin-bottom: 100px;
			p {
				margin: 0 0 25px 0;
			}
		}
	}
	// section.content__contact {
	// 	position: relative;
	// 	padding-bottom: 100px;
	// 	.content__contact-content {
	// 		background-color: #f0f3f6;
	// 		height: auto;
	// 		padding: 50px;
	// 	}
	// }
}

p.margin {
	margin: 0 0 25px 0;
}

#search-wrapper {
	background-color: darken($grey, 0.1%);
	article {
		position: relative;
		margin-bottom: 15px;
		padding: 20px 30px;
		background-color: $white;
		border-radius: 3px;
		border: 1px solid rgba(0,0,0,0.1);
		border-bottom: 2px solid rgba(0,0,0,0.25);
		a.pi-read-more-link {
			display: none;
		}
	}
}