main.site-main-singlestorie {
	width: 100%;
}

section.content__intro {
	width: 100%;
	position: relative;
	padding: 100px 0;
	.entry-header {
		p.read__time {
			&:before {
				margin-right: 10px;
				content: '\f017';
				font-family: fontAwesome;
				color: $primary;
				position: relative;
			}
		}
		.entry-sub-title {
			position: relative;
		}
	}
}

section.singlecta {
	.singlecta-outer {
		border-top: 1px solid rgba(0,0,0,0.1);
		padding: 30px 0;
		display: flex;
		align-items: center;
		justify-content: center;
		a.singlectabtn {
			font-family: 'Roboto', sans-serif;
			text-decoration: none;
			color: $white;
			border-radius: 100px;
			padding: 10px 35px;
			background-color: $orange;
			&:hover {
				background-color: darken($orange, 10%);
			}
		}
	}
}

svg.svg-devider {
	  position: absolute;
	  width: 100%;
	  height: 100px;
	  top: -100px;
  /* set height to pixels if you want angle to change with screen width */
}

#storyWrapper {
	padding: 50px 0;
	background-color: darken($grey, 0.1%);
	.row {
		max-width: 720px;
		margin: 0 auto;
	}
	.row.full {
		max-width: 100%!important;
	}
}

section.column {
	.col-lg {
		margin: 20px 0;
	}
}

.btn-outer {
	position: relative;
	margin: 25px 0;
	display: inline-block;
	color: $white;
}

#main-content {
	width: 100%;
	section.storie-content {
		overflow: hidden;
		.content__page-outer {
			margin: 10px;
			background-color: $black;
			position: relative;
			overflow: hidden;
			border-radius: 5px;
			.storie-introimg {
				border: 1px solid red;
				height: 100%;
				background-color: black;
				width: 100%;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				position: absolute;
				img {
					z-index: 2;
					height: 100%;
					width: 100%;
					box-shadow: 0 0 8px 4px rgba(0,0,0,0.1);
					opacity: 0.2;
					object-fit:cover;
					position: relative;
					background-position: center center;
				}
			}
			.content__page-content {
				display: flex;
				justify-content: center;
				align-items: center;
				position: relative;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				z-index: 2;
				padding: 100px 0;
				h1 {
					color: white;
				}
				p {
					color: white;
				}
			}
			&:after{
				opacity: 1;
				content: '';
				background: rgb(16,66,94);
				background: -moz-linear-gradient(-45deg, rgba(16,66,94,1) 0%, rgba(29,149,197,1) 100%);
				background: -webkit-linear-gradient(-45deg, rgba(16,66,94,1) 0%,rgba(29,149,197,1) 100%);
				background: linear-gradient(135deg, rgba(16,66,94,1) 0%,rgba(29,149,197,1) 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#10425e', endColorstr='#1d95c5',GradientType=1 );
				position: absolute;
				left: 0;
				z-index: 1;
				right: 0;
				bottom: 0;
				top: 0;
			}
		}
	}
}

// article sections

section.paragraph {
	padding: 30px 0;
}

section.paragraphTitle {
	padding: 30px 0;
}

section.quoteParagraph {
	padding: 30px 0;
	.box {
		margin-bottom: 40px;
		border-radius: 5px;
		border: 1px solid $primary;
		background-color: rgba(29,149,197,0.15);
		width: 100%;
		padding: 40px;
		display: flex;
		justify-content: center;
		align-items: center;
		.stories.color {
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 36px;
			line-height: 46px;
			text-align: center;
			font-family: 'Exo', sans-serif;
			color: rgba(0,0,0,.85);
		}
	}
}

section.singleImg {
	padding: 30px 0;
	.img-box {
		overflow: hidden;
		height: 100%;
		img {
			border-radius: 3px;
			object-fit: cover;
			width: 100%;
			height: 100%;
		}
	}
}

section.doubleImg {
	background-color: darken($grey, 0.1%);
	padding: 30px 0;
	.col-lg-8 {
		margin-bottom: 15px;
		.img-box {
			overflow: hidden;
			height: 100%;
			img {
				border-radius: 3px;
				object-fit: cover;
				width: 100%;
				height: 100%;
			}
		}
	}
	.col-lg-4 {
		margin-bottom: 15px;
		.img-box {
			overflow: hidden;
			height: 100%;
			img {
				border-radius: 3px;
				object-fit: cover;
				width: 100%;
				height: 100%;
			}
		}
	}
}

section.tagcloud {
	padding: 60px 0 0;
	background-color: white;
	ul {
		margin: 0;
		padding: 0;
		display: flex;
		flex-wrap: wrap;
		li.tag {
			list-style: none;
			margin: 5px;
		}
		a {	
			text-decoration: none;
			border: 1px solid $primary;
			color: $primary;
			padding: 10px 30px 8px;
			border-radius: 100px;
			display: inline-block;
			&:hover {
				background-color: $primary;
				border: 1px solid $primary;
				color: white;
			}
		}
	}
}

section.postedBy {
	margin: 0 auto;
	max-width: 720px;
	padding: 60px 0;
	.postedBy__head {
		display: flex;
		flex-direction: column;
		align-items: center;
		.author {
			width: 100%;
			display: flex;
			align-items: center;
			img {
				display: block;
				border-radius: 100px;
				margin-right: 30px;
			}
			.author__description {
				h4 {
					font-size: 16px;
					margin: 0;
					padding: 0;
					color: $primary;
				}
				p {
					font-size: 16px;
					margin: 0;
					padding: 0;
				}
			}
		}
		.author__content {
			margin-left: 90px;
			margin-top: 10px;
			border-top: 1px solid rgba(0,0,0,0.1);
			p {
				margin-top: 20px;
				font-size: 16px;
			}
		}
	}
}

section.moreContent {
	background-color: darken($grey, 0.1%);
	padding: 60px 0;
	.item {
		overflow: hidden;
		height: 300px;
		width: 100%;
		position: relative;
		margin-bottom: 15px;
		&:after {
			height : 25%;
			width: 100%;
			content: '';
			z-index: 7;
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			background: -moz-linear-gradient(top, rgba(255,255,255,0.01) 0%, rgba(255,255,255,0.97) 73%, rgba(255,255,255,1) 75%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(top, rgba(255,255,255,0.01) 0%,rgba(255,255,255,0.97) 73%,rgba(255,255,255,1) 75%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom, rgba(255,255,255,0.01) 0%,rgba(255,255,255,0.97) 73%,rgba(255,255,255,1) 75%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#03ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
		}
		h3 {
			top: 150px;
			padding: 15px;
			color: black;
			position: absolute;
			z-index: 2;
		}
		.article-img {
			border-radius: 3px 3px 0 0;
			overflow: hidden;
			height: 150px;
			background-color: black;
			position: relative;
			img {
				width: 100%;
				height: 100%;
				background-position: center center;
				position: absolute;
				object-fit: cover;
				background-size: cover;
			}
			&:before {
				transition: 0.2s linear;
				content: '';
				position: absolute;
				left: 0;
				top: 0;
				right: 0;
				bottom: 0;
				background-color: black;
				opacity: 0;
				z-index: 2
			}
		}
		&:hover {
			transition: 0.2s linear;
			.article-img {
			}
			.article-img:before {
				content: '';
				position: absolute;
				left: 0;
				top: 0;
				right: 0;
				bottom: 0;
				z-index: 2;
				background-color: black;
				opacity: 0.5;
			}
		}
	}
}

.item:hover {
	transition: 0.2s linear;
	.article-img img {
		 transform: scale(1.005);
	}
}

a {
	transition: 0.2s linear;
}

section.uspSection {
	margin: 50px 0;
}
section.uspSectionUsps {
	margin: 0px 0px 50px; 
}

.www-two {
	padding: 40px;
}



progress::-webkit-progress-value {
	color: $primary!important;
	background-color: $primary!important;
}


progress {
  /* Positioning */
  position: fixed;
  left: 0;
  top: 0px;
  z-index: 9999;
  color: $primary;

  /* Dimensions */
  width: 100%;
  height: .25em;

  /* Reset the apperance */  
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;

  /* Get rid of the default border in Firefox/Opera. */
  border: none;

  /* For Firefox/IE10+ */
  background-color: transparent;

  /* For IE10+, color of the progress bar */
  color: $primary;
}

progress::-webkit-progress-bar {
  background-color: transparent;
}

.flat::-webkit-progress-value {
  background-color: $primary;
}

.flat::-moz-progress-bar {
  background-color: $primary;
}

.single::-webkit-progress-value {
  background-color: transparent;
  background-image: -webkit-linear-gradient(left, transparent, $primary);
}

.single::-moz-progress-bar {
  background-color: transparent;
  background-image: -moz-linear-gradient(left, transparent, $primary);
}

.multiple::-webkit-progress-value {
  background-image: -webkit-linear-gradient(-45deg, 
                               transparent 33%, rgba(0, 0, 0, .1) 33%, 
                               rgba(0,0, 0, .1) 66%, transparent 66%),
                      -webkit-linear-gradient(left, $primary, $primary);
}

.multiple::-moz-progress-bar {
  background-image: -moz-linear-gradient(-45deg, 
                               transparent 33%, rgba(0, 0, 0, .1) 33%, 
                               rgba(0,0, 0, .1) 66%, transparent 66%),
                      -moz-linear-gradient(left, $primary, $primary);
}

.progress-container {
  width: 100%;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  height: .25em;
  display: block;
}

.progress-bar {
  background-color: $primary;
  width: 50%;
  display: block;
  height: inherit;
}

section.testimonial {
	background-color: white;
	position: relative;
}

section.contentCta {
	background-color: white;
	position: relative;
}

// article overview

article.overview {
	display: block;
	position: relative;
	width: 100%;
	margin: 15px 0;
	.img-outer {
		border-radius: 3px 3px 0 0;
		background-color: black;
		// display: block;
		position: relative;
		// top: 0;
		height: 150px;
		overflow: hidden;
		img {
			opacity: 1;
			background-position: center center;
			min-height: 100%;
			min-width: 100%;
			position: relative;
			object-fit: cover;
			background-size: cover;
		}
		&:before {
			transition: 0.2s linear;
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
			background-color: black;
			opacity: 0;
			z-index: 9999;
		}
	}
	.entry-content {
		display: block;
		position: relative;
		bottom: 0;
		padding: 25px;
		height: 100%;
		h2.entry-title a {
			text-decoration: none;
			color: $primary;
			text-transform: uppercase;
			font-family: 'Exo', sans-serif;
			font-size: 24px;
			line-height: 32px;
			font-weight: 500;
		}
	}
	&:hover {
		transition: 0.2s linear;
		.img-outer:before {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
			z-index: 9999;
			background-color: black;
			opacity: 0.5;
		}
		.entry-content {
			h2.entry-title a {
				color: $dark!important;
			}
			p {
				a.pi-read-more-link {
					color: $dark;
				}
			}
		}
	}
}

section.singlecta {
	padding: 0 0 60px 0;
	.singlecta__content {
		display: flex;
		justify-content: space-between;
		background-color: $white;
		padding: 25px;
		border-radius: 3px;
		border: 1px solid rgba(0,0,0,0.1);
		border-bottom: 2px solid rgba(0,0,0,0.25);
		.singlecta__title {
			display: flex;
			align-items: center;
			h3 {
				margin: 0;
			}
		}
		.singlecta__btn {
			display: flex;
			align-items: center;
		}
	}
}