// Medium devices (tablets, 768px and up)
@media (min-width: 1400px) {

	section.hero__homepage {
		padding: 0px 20px;
	}

	.wrapper#content-new {
		position: relative;
		section.content__hero {
			margin: 110px 25px 0;
			border-radius: 5px;
		}
	}

}