// Medium devices (tablets, 768px and up)
@media (min-width: 992px) {

	.setstage {
		padding: 0 100px!important;
	}

	#pi-svg {
		height: 242px;
	} 

	section.hero__usp{
		display: flex;
		overflow: hidden;
		.hero__usp-content {
			display: flex;
			align-items: center;
			justify-content: space-between;
			ul {
				margin: 0;
				padding: 0;
				display: flex;
				align-items: center;
				li {
					font-family: 'Exo', sans-serif;
					color: $primary;
					font-size: 16px;
					line-height: 27px;
					display: flex;
					align-items: center;
					font-weight: 300;
					padding: 25px 15px;
					list-style: none;
					img.small {
						width: auto;
						height: 18px;
						margin-right: 10px;
					}
					img.big {
						width: auto;
						height: 28px;
						margin-right: 10px;
					}
				}
			}
		}
	}

	section.choose {
		margin-top: 575px!important;
	}

	.change {
		display: flex;
		flex-direction: row;
		flex-direction: unset!important;
	}

 }