// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

.dropdown:hover>.dropdown-menu {
	display: block;
	//For animation
	max-height: 400px;
	opacity: 1;
	-webkit-transition: height 0.3s ease-in;
    -moz-transition: height 0.3s ease-in;
    -o-transition: height 0.3s ease-in;
    -ms-transition: height 0.3s ease-in;
    transition: height 0.3s ease-in;
  	li:first-child a{
		border-radius: 3px 3px 0px 0px!important;
	}
	li:last-child a{
		border-radius: 0 0 3px 3px!important;
	}
}
.dropdown>.dropdown-menu {
	margin: 0;
	max-height: 0;
	display: block;
	opacity: 0;
}

ul#main-menu li.dropdown:hover > a {
	display: block;
	position: relative;
} 

#pi-svg {
	height: auto;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	z-index: 0;
	margin-top: -35px;
} 

section.hero__homepage {
	margin-top: 110px;
	padding: 0 15px;
	.hero__outer {
		position: relative;
		overflow: hidden;
		border-radius: 5px;
		background-color: $black;
		position: relative;	
		.hero-image {		
			img.hero__homepage-img {
				opacity: 0.2;
				height: 100%;
				width: 100%;
				z-index: 2;
				position: absolute;
				object-fit:cover;
				background-position: center center;
			}
		}
		.hero__homepage-inner {
			justify-content: center;
			height: 100%;
			position: relative;
			width: 100%;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 2;
			padding: 100px 25px;
			display: flex;
			justify-content: center;
			flex-direction: column;
			.hero__content {
				padding: 0 15px;
				position: relative;
				display: inline-block;
			}
			.hero__cta {
				padding: 0 15px;
				display: flex;
				flex-direction: column;
				position: relative;
				display: inline-block;
				.hero__box-content {
					cursor: pointer;
					display: flex;
					justify-content: center;
					align-items: center;
					flex-direction: column;
					background-color: $orange;
					color: $white;
					padding: 15px 30px;
					z-index: 9;
					border-radius: 3px;
					width: 100%;
					&:hover {
							background-color: darken($orange, 10%);
						}
					h4 {
						font-family: 'Exo', sans-serif;
						text-transform: uppercase;
						margin: 0;
						font-size: 20px;
					}
				}
				.hero__cta-top {
					display: inline-block;
				}
				.hero__cta-bottom {
					ul.usp {
						position: relative;
						margin: 0;
						padding: 0;
						li {
							display: inline-block;
							list-style: none;
							a {
								border-radius: 3px;
								text-decoration: none;
								font-family: 'Exo', sans-serif;
								text-transform: uppercase;
								display: block;
								margin-top: 10px;
								width: 100%;
								font-size: 12px!important;
								padding: 5px 10px;
								background-color: $primary;
								color: $white;
								&:hover {
									background-color: darken($primary, 10%);
								}
							}
						}
						li:first-child {
							a {
								padding-left: 25px;
								display: flex;
								align-items: center;
								position: relative;
								&:before {
									padding: 0 10px;
									content: '\f183';
									font-family: fontAwesome;
									left: 0;
									position: absolute;
									display: block;
								}
							}
						}
						li:nth-child(2){
							a {
								padding-left: 30px;
								display: flex;
								align-items: center;
								position: relative;
								&:before {
									padding: 0 10px;
									content: '\f153';
									font-family: fontAwesome;
									left: 0;
									position: absolute;
									display: block;
								}
							}
						}
						li:last-child {
							a {
								padding-left: 30px;
								display: flex;
								align-items: center;
								position: relative;
								&:before {
									padding: 0 10px;
									content: '\f108';
									font-family: fontAwesome;
									left: 0;
									position: absolute;
									display: block;
								}
							}
						}
					}
				}
			}
		}
		&:before {
			opacity: 0.41;
			content: '';
			background: rgb(16,66,94);
			background: -moz-linear-gradient(-45deg, rgba(16,66,94,1) 0%, rgba(29,149,197,1) 100%);
			background: -webkit-linear-gradient(-45deg, rgba(16,66,94,1) 0%,rgba(29,149,197,1) 100%);
			background: linear-gradient(135deg, rgba(16,66,94,1) 0%,rgba(29,149,197,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#10425e', endColorstr='#1d95c5',GradientType=1 );
			position: absolute;
			left: 0;
			z-index: 1;
			right: 0;
			bottom: 0;
			top: 0;
		}
	}
}

// start ipad menu

#wrapper-navbar {
	background-color: transparent;
	width: 100%;
	position: relative;
	z-index: 9997;
	left: 0;
	right: 0;
	.navbar.navbar-expand-xl {
		background-color: transparent;
		padding: 0;
		margin: 0;
		height: 70px;
		display: flex;
		flex-direction:column;
		justify-content: center;
		ul#main-menu {
			height: 70px;
			display: flex;
			align-items: center;
			li {
				border: 0px!important;
				display: flex;
				align-items: center;
				height: 60px;
				a {
					border: 0px;
					border-radius: 3px;
					margin: 0 5px;
					text-transform: uppercase;
					font-family: 'Exo', sans-serif;
					font-weight: 300;
					font-size: 15px;
					padding: 4px 12px;
					&:hover {
						background-color: darken($grey, 1%);
					}
				}
				a.dropdown-toggle {
					position: relative;
					display: flex;
					align-items: center;
					justify-content: center;
					&:after {
						position: relative;
						display: flex;
						align-items: center;
						border: none;
						content: '\f078';
						font-family: fontAwesome;
						font-size: 9px;
						margin-left: 6px;
						margin-top: -3px;
					}
				}
			}
		}
	}
}

.topnav__container {
	.topnav__row {
		margin: 0;
		width: 100%;
		.topmenu {
			height: 40px;
			width: 100%;
			ul.menu {
				margin: 5px 0;
				z-index: 9999;
				position: relative;
				height: 100%;
				padding: 0;
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: flex-end;
				li {
					list-style: none;
					a {
						padding: 8px 20px!important;
						text-decoration: none;
						font-family: 'Exo', sans-serif;
						font-weight: 300;
						padding: 0 25px!important;
						height: 100%;
						font-size: 14px!important;
						line-height: 27px;
						display: flex;
						align-items: center;
					}
				}
				li.register {
					a {
						border: 1px solid $orange;
						background-color: $orange;
						border-radius: 3px;
						margin: 5px;
						color: $white;
						// &:before {
						// 	margin-right: 10px;
						// 	content: '\f044';
						// 	font-family: fontAwesome;
						// 	color: $white;
						// 	position: relative;
						// }
						&:hover {
							color:  $white;
							border: 1px solid $orange!important;
							background-color: darken($orange, 10%)!important;
							// &:before {
							// 	margin-right: 10px;
							// 	content: '\f044';
							// 	font-family: fontAwesome;
							// 	color: $white;
							// 	position: relative;
							// }
						}
					}
				}
				li.login {
					a {
						border: 1px solid $primary;
						background-color: transparent;
						border-radius: 3px;
						margin: 5px;
						padding: 0 15px;
						border: 1px solid red;
						color: $primary;
						// &:before {
						// 	margin-right: 10px;
						// 	content: '\f007';
						// 	font-family: fontAwesome;
						// 	color: $primary;
						// 	position: relative;
						// }
						&:hover {
							color:  $white;
							border: 1px solid $primary!important;
							background-color: $primary!important;
							// &:before {
							// 	margin-right: 10px;
							// 	content: '\f007';
							// 	font-family: fontAwesome;
							// 	color: $white;
							// 	position: relative;
							// }
						}
					}
				}
				li.tracktrace {
					a {
						position: relative;
						color: $primary;
						&:hover {
							text-decoration: underline;
						}
					}
				}
			}
		}
	}
}

section.footermenus {
	background-color: white;
	padding-bottom: 50px;
	.footermenus__intro {
		padding: 35px 0 25px;
		margin-bottom: 50px;
		border-bottom: 1px solid rgba(0,0,0,0.10);
		display: flex;
		align-items: center;
		flex-direction: row;
		justify-content: space-between;
		.footermenus__intro-title {
			margin-bottom: 0px;
		}
	}
	.footermenus__outer {
		display: flex;
		flex-direction: row;
		width: 100%;
		.footermenus__outer-inner {
			display: block;
			width: 100%;
			display: block;
			position: relative;
			span {
				margin-right: 10px;
			}
			.footer-widget {
				width: 100%;
				padding: 0;
				ul {
					margin: 0;
					padding: 0;
					li {
						list-style: none;
						padding: 4px 0;
						margin: 0;
					}
				}
			}
		}
	}
}

// end ipad + menu

 }